<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.TiendaVirtualConnectionString"
            connectionString="Data Source=DESKTOP-M2DUKGS;Initial Catalog=TiendaVirtual;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>